In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

pd.set_option('display.max_columns', None)

/kaggle/input/scotium-dataset/scoutium_potential_labels.csv
/kaggle/input/scotium-dataset/scoutium_attributes.csv

# **1**

**1.1 read files**

In [2]:
scotium_attributes = pd.read_csv("/kaggle/input/scotium-dataset/scoutium_attributes.csv",sep = ';')
scotium_potential_labels = pd.read_csv("/kaggle/input/scotium-dataset/scoutium_potential_labels.csv",sep = ';')

In [3]:
scotium_attributes.head()

,task_response_id,match_id,evaluator_id,player_id,position_id,analysis_id,attribute_id,attribute_value
0,4915,62935,177676,1361061,2,12818495,4322,56.0
1,4915,62935,177676,1361061,2,12818495,4323,56.0
2,4915,62935,177676,1361061,2,12818495,4324,67.0
3,4915,62935,177676,1361061,2,12818495,4325,56.0
4,4915,62935,177676,1361061,2,12818495,4326,45.0

In [4]:
scotium_attributes.shape

(10730, 8)

In [5]:
scotium_potential_labels.head()

   task_response_id  match_id  evaluator_id  player_id potential_label
0              4915     62935        177676    1361061         average
1              4915     62935        177676    1361626     highlighted
2              4915     62935        177676    1361858         average
3              4915     62935        177676    1362220     highlighted
4              4915     62935        177676    1364951     highlighted

In [6]:
scotium_potential_labels.shape

(322, 5)

**1.2 merge**

In [7]:
df = scotium_attributes.merge(scotium_potential_labels , how = 'left' , on = ['task_response_id','match_id','evaluator_id','player_id'])
df.head()

,task_response_id,match_id,evaluator_id,player_id,position_id,analysis_id,attribute_id,attribute_value,potential_label
0,4915,62935,177676,1361061,2,12818495,4322,56.0,average
1,4915,62935,177676,1361061,2,12818495,4323,56.0,average
2,4915,62935,177676,1361061,2,12818495,4324,67.0,average
3,4915,62935,177676,1361061,2,12818495,4325,56.0,average
4,4915,62935,177676,1361061,2,12818495,4326,45.0,average

In [8]:
df.shape

(10730, 9)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10730 entries, 0 to 10729
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   task_response_id  10730 non-null  int64
 1   match_id          10730 non-null  int64
 2   evaluator_id      10730 non-null  int64
 3   player_id         10730 non-null  int64
 4   position_id       10730 non-null  int64
 5   analysis_id       10730 non-null  int64
 6   attribute_id      10730 non-null  int64
 7   attribute_value   10730 non-null  float64
 8   potential_label   10730 non-null  object
dtypes: float64(1), int64(7), object(1)
memory usage: 754.6+ KB

**1.3 delete position_id:1**

In [10]:
df.loc[df["position_id"] == 1,"position_id"]

238      1
239      1
240      1
241      1
242      1
        ..
10691    1
10692    1
10693    1
10694    1
10695    1
Name: position_id, Length: 700, dtype: int64

In [11]:
df.drop(df.loc[df["position_id"] == 1,"position_id"].index , inplace = True)
df

,task_response_id,match_id,evaluator_id,player_id,position_id,analysis_id,attribute_id,attribute_value,potential_label
0,4915,62935,177676,1361061,2,12818495,4322,56.0,average
1,4915,62935,177676,1361061,2,12818495,4323,56.0,average
2,4915,62935,177676,1361061,2,12818495,4324,67.0,average
3,4915,62935,177676,1361061,2,12818495,4325,56.0,average
4,4915,62935,177676,1361061,2,12818495,4326,45.0,average
...,...,...,...,...,...,...,...,...,...
10725,5642,63032,151191,1909728,7,12825756,4357,67.0,highlighted
10726,5642,63032,151191,1909728,7,12825756,4407,78.0,highlighted
10727,5642,63032,151191,1909728,7,12825756,4408,67.0,highlighted
10728,5642,63032,151191,1909728,7,12825756,4423,67.0,highlighted
10729,5642,63032,151191,1909728,7,12825756,4426,78.0,highlighted

**1.4 remove below_average**

In [12]:
df.loc[df["potential_label"] == 'below_average',"potential_label"]

467      below_average
468      below_average
469      below_average
470      below_average
471      below_average
             ...
10258    below_average
10259    below_average
10260    below_average
10261    below_average
10262    below_average
Name: potential_label, Length: 136, dtype: object

In [13]:
df.drop(df.loc[df["potential_label"] == 'below_average',"potential_label"].index , inplace = True)
df

,task_response_id,match_id,evaluator_id,player_id,position_id,analysis_id,attribute_id,attribute_value,potential_label
0,4915,62935,177676,1361061,2,12818495,4322,56.0,average
1,4915,62935,177676,1361061,2,12818495,4323,56.0,average
2,4915,62935,177676,1361061,2,12818495,4324,67.0,average
3,4915,62935,177676,1361061,2,12818495,4325,56.0,average
4,4915,62935,177676,1361061,2,12818495,4326,45.0,average
...,...,...,...,...,...,...,...,...,...
10725,5642,63032,151191,1909728,7,12825756,4357,67.0,highlighted
10726,5642,63032,151191,1909728,7,12825756,4407,78.0,highlighted
10727,5642,63032,151191,1909728,7,12825756,4408,67.0,highlighted
10728,5642,63032,151191,1909728,7,12825756,4423,67.0,highlighted
10729,5642,63032,151191,1909728,7,12825756,4426,78.0,highlighted

**1.5 pivot table**

In [14]:
df = df.pivot_table(values= 'attribute_value' , index = ['player_id','position_id','potential_label'] , columns = ['attribute_id'] )
df = df.reset_index()
df

attribute_id,player_id,position_id,potential_label,4322,4323,4324,4325,4326,4327,4328,4329,4330,4332,4333,4335,4338,4339,4340,4341,4342,4343,4344,4345,4348,4349,4350,4351,4352,4353,4354,4355,4356,4357,4407,4408,4423,4426
0,1355710,7,average,50.5,50.5,34.0,50.5,45.0,45.0,45.0,45.0,50.5,56.0,39.5,34.0,39.5,39.5,45.0,45.0,50.5,28.5,23.0,39.5,28.5,28.5,45.0,50.5,56.0,34.0,39.5,50.5,34.0,34.0,56.0,34.0,34.0,56.0
1,1356362,9,average,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,56.0,67.0,67.0,56.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
2,1356375,3,average,67.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0,56.0,67.0,67.0,67.0,67.0,67.0,56.0,56.0,67.0,67.0,56.0,56.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
3,1356375,4,average,67.0,78.0,67.0,67.0,67.0,78.0,78.0,78.0,56.0,67.0,67.0,67.0,78.0,78.0,56.0,67.0,67.0,45.0,45.0,56.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,56.0,67.0,56.0,67.0,45.0,56.0
4,1356411,9,average,67.0,67.0,78.0,78.0,67.0,67.0,67.0,67.0,89.0,78.0,67.0,67.0,67.0,56.0,56.0,67.0,78.0,56.0,56.0,67.0,56.0,67.0,56.0,67.0,67.0,56.0,67.0,67.0,56.0,67.0,89.0,56.0,67.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,1907347,5,average,67.0,78.0,78.0,56.0,78.0,67.0,78.0,67.0,56.0,78.0,78.0,56.0,67.0,67.0,78.0,56.0,67.0,56.0,56.0,67.0,78.0,89.0,67.0,78.0,67.0,67.0,67.0,67.0,56.0,67.0,78.0,78.0,78.0,56.0
267,1907347,6,average,67.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0,56.0,67.0,67.0,67.0,67.0,78.0,67.0,56.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0
268,1909532,10,average,56.0,45.0,45.0,45.0,56.0,56.0,56.0,56.0,23.0,23.0,34.0,45.0,56.0,34.0,23.0,45.0,45.0,23.0,23.0,34.0,23.0,23.0,34.0,23.0,45.0,45.0,56.0,34.0,34.0,56.0,34.0,34.0,34.0,23.0
269,1909724,2,highlighted,78.0,78.0,78.0,78.0,78.0,78.0,78.0,78.0,67.0,67.0,78.0,78.0,78.0,67.0,78.0,67.0,78.0,56.0,56.0,78.0,78.0,67.0,78.0,78.0,78.0,78.0,78.0,67.0,67.0,67.0,78.0,78.0,67.0,78.0
270,1909728,7,highlighted,78.0,67.0,67.0,78.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0,67.0,78.0,67.0,67.0,78.0,78.0,67.0,56.0,78.0,67.0,56.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_id        271 non-null    int64
 1   position_id      271 non-null    int64
 2   potential_label  271 non-null    object
 3   4322             271 non-null    float64
 4   4323             271 non-null    float64
 5   4324             271 non-null    float64
 6   4325             271 non-null    float64
 7   4326             271 non-null    float64
 8   4327             271 non-null    float64
 9   4328             271 non-null    float64
 10  4329             271 non-null    float64
 11  4330             271 non-null    float64
 12  4332             271 non-null    float64
 13  4333             271 non-null    float64
 14  4335             271 non-null    float64
 15  4338             271 non-null    float64
 16  4339             271 non-null    float64
 17  4340             271 non-null    float64
 18  4341             271 non-null    float64
 19  4342             271 non-null    float64
 20  4343             271 non-null    float64
 21  4344             271 non-null    float64
 22  4345             271 non-null    float64
 23  4348             271 non-null    float64
 24  4349             271 non-null    float64
 25  4350             271 non-null    float64
 26  4351             271 non-null    float64
 27  4352             271 non-null    float64
 28  4353             271 non-null    float64
 29  4354             271 non-null    float64
 30  4355             271 non-null    float64
 31  4356             271 non-null    float64
 32  4357             271 non-null    float64
 33  4407             271 non-null    float64
 34  4408             271 non-null    float64
 35  4423             271 non-null    float64
 36  4426             271 non-null    float64
dtypes: float64(34), int64(2), object(1)
memory usage: 78.5+ KB

**1.6 label encoder**

In [16]:
from sklearn.preprocessing import LabelEncoder , StandardScaler
labelencoder = LabelEncoder()
df['potential_label'] = labelencoder.fit_transform(df['potential_label'])

df

attribute_id,player_id,position_id,potential_label,4322,4323,4324,4325,4326,4327,4328,4329,4330,4332,4333,4335,4338,4339,4340,4341,4342,4343,4344,4345,4348,4349,4350,4351,4352,4353,4354,4355,4356,4357,4407,4408,4423,4426
0,1355710,7,0,50.5,50.5,34.0,50.5,45.0,45.0,45.0,45.0,50.5,56.0,39.5,34.0,39.5,39.5,45.0,45.0,50.5,28.5,23.0,39.5,28.5,28.5,45.0,50.5,56.0,34.0,39.5,50.5,34.0,34.0,56.0,34.0,34.0,56.0
1,1356362,9,0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,56.0,67.0,67.0,56.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
2,1356375,3,0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0,56.0,67.0,67.0,67.0,67.0,67.0,56.0,56.0,67.0,67.0,56.0,56.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
3,1356375,4,0,67.0,78.0,67.0,67.0,67.0,78.0,78.0,78.0,56.0,67.0,67.0,67.0,78.0,78.0,56.0,67.0,67.0,45.0,45.0,56.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,56.0,67.0,56.0,67.0,45.0,56.0
4,1356411,9,0,67.0,67.0,78.0,78.0,67.0,67.0,67.0,67.0,89.0,78.0,67.0,67.0,67.0,56.0,56.0,67.0,78.0,56.0,56.0,67.0,56.0,67.0,56.0,67.0,67.0,56.0,67.0,67.0,56.0,67.0,89.0,56.0,67.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,1907347,5,0,67.0,78.0,78.0,56.0,78.0,67.0,78.0,67.0,56.0,78.0,78.0,56.0,67.0,67.0,78.0,56.0,67.0,56.0,56.0,67.0,78.0,89.0,67.0,78.0,67.0,67.0,67.0,67.0,56.0,67.0,78.0,78.0,78.0,56.0
267,1907347,6,0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0,56.0,67.0,67.0,67.0,67.0,78.0,67.0,56.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0
268,1909532,10,0,56.0,45.0,45.0,45.0,56.0,56.0,56.0,56.0,23.0,23.0,34.0,45.0,56.0,34.0,23.0,45.0,45.0,23.0,23.0,34.0,23.0,23.0,34.0,23.0,45.0,45.0,56.0,34.0,34.0,56.0,34.0,34.0,34.0,23.0
269,1909724,2,1,78.0,78.0,78.0,78.0,78.0,78.0,78.0,78.0,67.0,67.0,78.0,78.0,78.0,67.0,78.0,67.0,78.0,56.0,56.0,78.0,78.0,67.0,78.0,78.0,78.0,78.0,78.0,67.0,67.0,67.0,78.0,78.0,67.0,78.0
270,1909728,7,1,78.0,67.0,67.0,78.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0,67.0,78.0,67.0,67.0,78.0,78.0,67.0,56.0,78.0,67.0,56.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0

**1.7 num_cols**

In [17]:
num_cols = [col for col in df.columns if col not in ['player_id','position_id','potential_label'] ]
num_cols

[4322,
 4323,
 4324,
 4325,
 4326,
 4327,
 4328,
 4329,
 4330,
 4332,
 4333,
 4335,
 4338,
 4339,
 4340,
 4341,
 4342,
 4343,
 4344,
 4345,
 4348,
 4349,
 4350,
 4351,
 4352,
 4353,
 4354,
 4355,
 4356,
 4357,
 4407,
 4408,
 4423,
 4426]

**1.8 Standart Scaler**

In [18]:
scaler = StandardScaler()

df.loc[:,num_cols]  = scaler.fit_transform(df.loc[:,num_cols])

In [19]:
df

attribute_id,player_id,position_id,potential_label,4322,4323,4324,4325,4326,4327,4328,4329,4330,4332,4333,4335,4338,4339,4340,4341,4342,4343,4344,4345,4348,4349,4350,4351,4352,4353,4354,4355,4356,4357,4407,4408,4423,4426
0,1355710,7,0,-0.542606,-0.559398,-1.404764,-0.437916,-0.766602,-0.794802,-0.907351,-0.791605,-0.446324,-0.122619,-1.223858,-1.035633,-1.126240,-1.009285,-0.541797,-0.690375,-0.535091,-1.067288,-1.205671,-1.004927,-1.313773,-1.041775,-0.693269,-0.435633,0.012848,-1.281899,-1.132245,-0.494569,-1.234869,-1.519578,-0.142650,-1.487256,-0.955381,-0.252741
1,1356362,9,0,0.595327,0.560776,0.678677,0.682837,0.722639,0.722929,0.601190,0.404075,0.727985,0.691171,0.459154,0.996474,0.631888,0.840464,0.911936,0.799406,0.588047,1.229965,0.749536,0.742305,0.878802,0.669953,0.847750,0.716763,0.786581,0.813645,1.052769,0.631718,0.914913,0.768231,0.529664,0.668713,0.403717,1.041611
2,1356375,3,0,0.595327,0.560776,0.678677,0.682837,0.722639,0.722929,0.601190,1.001915,0.727985,0.691171,1.132359,0.319105,0.631888,0.840464,0.911936,0.799406,0.588047,0.573607,0.749536,0.742305,0.878802,0.669953,0.077240,0.716763,0.786581,0.813645,1.052769,0.631718,0.914913,0.768231,0.529664,0.668713,0.403717,1.041611
3,1356375,4,0,0.595327,1.307560,0.678677,0.682837,0.722639,1.481795,1.355461,1.001915,-0.054888,0.691171,0.459154,0.996474,1.335139,1.580363,0.185069,0.799406,0.588047,-0.082751,0.097800,0.043412,0.878802,1.354645,0.847750,0.716763,1.560314,0.813645,0.428479,0.631718,0.198319,0.768231,-0.142650,0.668713,-0.275832,-0.252741
4,1356411,9,0,0.595327,0.560776,1.373158,1.430006,0.722639,0.722929,0.601190,0.404075,2.293730,1.504961,0.459154,0.996474,0.631888,0.100564,0.185069,0.799406,1.336806,0.573607,0.749536,0.742305,0.252352,1.354645,0.077240,0.716763,0.786581,0.115130,0.428479,0.631718,0.198319,0.768231,1.874292,-0.049944,1.083267,1.041611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,1907347,5,0,0.595327,1.307560,1.373158,-0.064332,1.467260,0.722929,1.355461,0.404075,-0.054888,1.504961,1.132359,0.319105,0.631888,0.840464,1.638803,0.054515,0.588047,0.573607,0.749536,0.742305,1.505252,2.724027,0.847750,1.485027,0.786581,0.813645,0.428479,0.631718,0.198319,0.768231,1.201978,1.387369,1.762816,-0.252741
267,1907347,6,0,0.595327,0.560776,0.678677,0.682837,0.722639,0.722929,0.601190,1.001915,0.727985,0.691171,1.132359,0.319105,0.631888,0.840464,0.911936,0.799406,1.336806,1.229965,0.749536,0.742305,0.878802,1.354645,0.847750,0.716763,0.786581,0.813645,1.052769,0.631718,0.914913,0.768231,0.529664,0.668713,1.083267,1.041611
268,1909532,10,0,-0.163295,-0.932790,-0.710283,-0.811501,-0.021981,-0.035936,-0.153081,-0.193765,-2.403505,-2.563989,-1.560461,-0.358264,-0.071363,-1.379234,-1.995531,-0.690375,-0.909470,-1.395467,-1.205671,-1.354373,-1.626998,-1.384121,-1.463779,-2.356293,-0.760885,-0.583384,-0.195810,-1.620856,-1.234869,0.005628,-1.487277,-1.487256,-0.955381,-2.194269
269,1909724,2,1,1.353950,1.307560,1.373158,1.430006,1.467260,1.481795,1.355461,1.001915,0.727985,0.691171,1.132359,1.673842,1.335139,0.840464,1.638803,0.799406,1.336806,0.573607,0.749536,1.441197,1.505252,1.354645,1.618260,1.485027,1.560314,1.512160,1.052769,0.631718,0.914913,0.768231,1.201978,1.387369,1.083267,1.041611
270,1909728,7,1,1.353950,0.560776,0.678677,1.430006,0.722639,0.722929,0.601190,1.001915,0.727985,0.691171,1.132359,0.996474,1.335139,0.840464,0.911936,1.544297,1.336806,1.229965,0.749536,1.441197,0.878802,0.669953,0.847750,0.716763,0.786581,0.813645,1.052769,0.631718,0.914913,0.768231,1.201978,0.668713,1.083267,1.041611

In [20]:
#from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV , cross_validate
y = df["potential_label"]
X = df[num_cols]

model = RandomForestClassifier()
cv_results = cross_validate(model , X,y,cv=20,scoring=["accuracy","f1","roc_auc","precision","recall"])

{k:cv_results[k].mean() for k in cv_results}

/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

{'fit_time': 0.14319231510162353,
 'score_time': 0.0201460599899292,
 'test_accuracy': 0.8774725274725276,
 'test_f1': 0.53,
 'test_roc_auc': 0.8871969696969698,
 'test_precision': 0.775,
 'test_recall': 0.425}

In [21]:
model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [22]:
rf_params = {"max_depth":[5,8,None],
             "min_samples_split":[2,5,15,20],
             "n_estimators":[100,200,500]}

In [23]:
rf_best_grid = GridSearchCV(model,rf_params,cv=20,
                            n_jobs=-1,verbose=True).fit(X,y)

Fitting 20 folds for each of 36 candidates, totalling 720 fits

In [24]:
rf_best_grid.best_params_

{'max_depth': None, 'min_samples_split': 2, 'n_estimators': 500}

In [25]:
rf_final = RandomForestClassifier(**rf_best_grid.best_params_).fit(X,y)

In [26]:
cv_results = cross_validate(rf_final , X,y,cv=20,scoring=["accuracy","f1","roc_auc","precision","recall"])

{k:cv_results[k].mean() for k in cv_results}

/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

{'fit_time': 0.6937726378440857,
 'score_time': 0.053953778743743894,
 'test_accuracy': 0.8664835164835166,
 'test_f1': 0.5033333333333333,
 'test_roc_auc': 0.8867424242424244,
 'test_precision': 0.6916666666666667,
 'test_recall': 0.4333333333333333}

In [27]:
list( zip(rf_final.feature_importances_.tolist(), num_cols ) )

[(0.024722961381226146, 4322),
 (0.011537856023281107, 4323),
 (0.014681069118185987, 4324),
 (0.1385929407918808, 4325),
 (0.06483416044808933, 4326),
 (0.020574964935310438, 4327),
 (0.020553162593218863, 4328),
 (0.018499519176286214, 4329),
 (0.013066128200823248, 4330),
 (0.018696928260024337, 4332),
 (0.017068422489233105, 4333),
 (0.026815249680622037, 4335),
 (0.02584108271295425, 4338),
 (0.029321816519735373, 4339),
 (0.017339219120994308, 4340),
 (0.06463049306592913, 4341),
 (0.021701239365713977, 4342),
 (0.028130807516675817, 4343),
 (0.04594979865226421, 4344),
 (0.05201001133217492, 4345),
 (0.026186650210593205, 4348),
 (0.022009938046368634, 4349),
 (0.03627232630530698, 4350),
 (0.03232194639784317, 4351),
 (0.024556086764583106, 4352),
 (0.0378666746892818, 4353),
 (0.01593988740975291, 4354),
 (0.014102611665812073, 4355),
 (0.016107474927143945, 4356),
 (0.02022010695104678, 4357),
 (0.02306424164823811, 4407),
 (0.01887761603454423, 4408),
 (0.020503300485277605, 4423),
 (0.017403307079583666, 4426)]